body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.common-sections {
    margin-bottom: 100px;
    text-align: center;
}

/*First section's styles start from here*/
.section1 {
    background-image: url(images/background.png);
    width: 100%;
    height: 669px;
}

.header-text {
    text-align: center;
    padding-top: 174px;
    border-radius: 5px;
    color: white;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 150px;
}

.header-bold {
    font-weight: 700;
    font-size: 40px;
}

.donate-button {
    border-radius: 7px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgba(250, 78, 47, 0.822), tomato);
    padding: 3% 5%;
    font-weight: 800;

}

/*Second section's styles start from here*/
.section2 {
    padding-left: 20%;
    padding-right: 20%;
}

.donate-today {
    font-size: 30px;
    font-weight: bold;
}

.section2-p2 {
    padding-left: 20%;
    padding-right: 20%;
}

.half-width {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    border: none;
    font-weight: 700;
    color: gray;
    border-radius: 1px;
}

#colored-button {
    background-color: rgba(255, 99, 71, 0.189);
    color: tomato;
    border: 1.2px solid tomato;

}

.custom-amount {
    border: none;
    width: 50%;
    height: 40px;
    text-align: center;
}

.input-field {
    width: 50%;
    margin-top: 0;
    padding-top: 0;
}

.donate-button2 {
    border-radius: 7px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(243, 70, 40), tomato);
    padding: 1% 2%;
    font-weight: 800;

}

/*Third section's styles start from here*/
.section3 {
    padding-left: 10%;
    padding-right: 10%;
}

.cards {
    display: flex;
    text-align: left;
    padding: ;
}

.card-width {
    border-radius: 2px;
    margin-left: 2%;
    width: 60%;
    margin-right: 2%;
    padding: 2% 2%;
}

#card-color1 {
    background-color: #4f9da658;
}

#card-color2 {
    background-color: #ff59595e;
}

#card-color3 {
    background-color: rgba(255, 255, 0, 0.276);
}

/*Fourth section's styles start from here*/
.section4-background {
    display: flex;
    text-align: left;
    margin-left: 10%;
}

.section4-width {
    width: 40%;
    height: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

.sponsor-button {
    border-radius: 7px;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 3% 5%;
    font-weight: 800;
}

.subscription {

    height: 150px;
    width: 60%;
    margin-left: 20%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.155);
}

/*Fourth section's styles start from here*/
.last-section {
    text-align: center;
    margin-bottom: 120px;
}

.email-input {
    padding-top: 8%;
    border-radius: 5%;
    border-right: none;
}

.subscription-button {
    color: white;
    background-color: tomato;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 300;
    border-color: transparent;
    border-left: none;
}

.email-field {
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: transparent;
}

/*Footer section's styles start from here*/
footer {
    height: 177px;
    width: 100%;
    background-color: #0B0D17;
    text-align: center;
    color: white;
}

.footerp {
    text-align: center;
    color: #FF5959;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}